---
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html

Language: Cpp

BasedOnStyle: Google

IndentWidth: 4
ColumnLimit: 120

Cpp11BracedListStyle: true

AlignConsecutiveAssignments: true
AlignTrailingComments: true
AlignOperands: AlignAfterOperator
AlignAfterOpenBracket: BlockIndent

BreakBeforeBinaryOperators: All
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma

IndentCaseLabels: true
IndentPPDirectives: BeforeHash

PackConstructorInitializers: Never
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: false

AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty

SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
    AfterRequiresInClause: true